<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link rel="stylesheet" type="text/css" href="/static/index/css/jiajiakang.css"/>
		<script src="/static/index/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="gh_div1">
			<ul class="gh_ul1">
				<li class="gh_li_a">
					<img src="/static/index/img/img04.png"/>
				</li>
				<li class="gh_li_b">
					<span>库存列表</span>
				</li>
				<li class="gh_li_c">
					<span>编辑</span>
				</li>
			</ul>
		</div>
		
		<p class="gh_p4"></p>
		
		<div class="ghd_div1">
			<div class="ghd_div2">
				<img src="/static/index/img/img10.png" class="ghd_img1"/>
				<input type="text" id="" value="" class="ghd_input1" placeholder="输入商品名称进行查找"/>
			</div>			
			<input type="button" id="" value="搜索" class="ghd_input2" />
		</div>
		
		<div class="ghd_div3">
			<img src="/static/index/img/img11.png" class="ghd_img2"/>
			<span>2018-12-12</span>
		</div>		
		
		<ul class="ghd_ul1">
			<li>
				<p class="ghd_p2">
					<img src="/static/index/img/img12.jpg"/>
				</p>
				
				<p class="ghd_p3">一级白条</p>
				<p class="ghd_p4">
					采购数量：<span>50KG</span>
				</p>
			</li>
			
			<li>
				<p class="ghd_p2">
					<img src="/static/index/img/img12.jpg"/>
				</p>
				
				<p class="ghd_p3">一级白条</p>
				<p class="ghd_p4">
					采购数量：<span>50KG</span>
				</p>
			</li>
			
			<li>
				<p class="ghd_p2">
					<img src="/static/index/img/img12.jpg"/>
				</p>
				
				<p class="ghd_p3">一级白条</p>
				<p class="ghd_p4">
					采购数量：<span>50KG</span>
				</p>
			</li>
			
			<li>
				<p class="ghd_p2">
					<img src="/static/index/img/img12.jpg"/>
				</p>
				
				<p class="ghd_p3">一级白条</p>
				<p class="ghd_p4">
					采购数量：<span>50KG</span>
				</p>
			</li>
		</ul>
		
		
		
		
		
		
	</body>
</html>
