<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>库存列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 库存列表 <span class="c-gray en"></span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<form action="{:url('out')}" method="post" name="myform">
              <select id="city" class="select" name="username" style="height: 30px;width: 130px;margin-right: 40px">
                {foreach name="de" id="vo"}
                <option name="{$vo.user_name}">{$vo.user_name}</option>`
                {/foreach}
                </select>  
   <span style="margin-right: -505px">时间 :<input type="date" id="datePicker" name="time"  value="{$sum.time}" class="form-control" style="margin-bottom: 5px;margin-height: 16px!important;margin-left: 10px" />
          <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户导出用户库存</button>
     </span>  
            
</form>
 <input type="button" name="" id="btn" value="根据时间进行查询" class="btnsty"/>

<a id="btns" href="javascript:void(0);">根据时间导出所有的用户库存</a>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <td width="100">用户名</td>
        <td width="80">名称</td>
        <td width="90">时间</td>
        <td width="90">库存(公斤)</td>
      </tr>
      
  </thead>
  
   <tbody class="text-s">

   {foreach name="infr" id="vo"}
      <tr class="text-c">
        <td>{$vo.user_name}</td>
        <td>{$vo.k_nume}</td>
        <td>{$vo.time}</td>
        <td>{$vo.numberss}</td>
      </tr>
    {/foreach}
   </tbody>
  </table>

  <div id="pageNav" class="pageNav"></div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

   // 创建一个当前日期对象
    var now = new Date();
    //格式化日，如果小于9，前面补0
    var day = ("0" + now.getDate()).slice(-2);
    //格式化月，如果小于9，前面补0
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    //拼装完整日期格式
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    //完成赋值
    $('#datePicker').val(today);
   

</script>
<script type="text/javascript">
    btObj = document.getElementById('btn');
    btObj.onclick = function(){
     var arr =  $('#datePicker').serializeArray();
        $.ajax({
            url:"/admin/index/shijian",
            data:{arr:arr},
            type:'POST',
            dataType:'json',
            success:function(res){

                var str = "";
                   for(var i=0;i<res.length;i++) {
                         str += '<tr class="text-c">';
                        str += ' <td width="100">'+res[i].user_name+'</td>';
                        str += '<td width="80">'+res[i].k_nume+'</td>';
                        str += '<td>'+res[i].time+'</td>';
                        str += '<td>'+res[i].numberss+'</td>';
                          str += '</tr>';
                        // str += ' </p><p class="gh_p10"><img src="/static/index/img/img08.png"/></p></div></div></li>';
                    };
                    $(".text-s").html(str);

                }
              
            // }
        })
    }


</script>
<script type="text/javascript">
    btObj = document.getElementById('btns');
    btObj.onclick = function(){
     var arr =  $('#datePicker').serialize();
      window.location.href="http://zl.qinheyijia.com/admin/index/zongkucun?"+arr;    
                
              
            // }
        
    }


</script>

</body>
</html>
