html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	height: 100%;
	font-size: 14px;
}

button,
input,
select,
div,
ul {
	-webkit-appearance: none;
}

ul,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

input,
textarea,
select {
	outline: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.wt_ul3 {
	padding: 10px;
	height: auto;
	overflow: hidden;
	margin-bottom: 61px;
}

.wt_ul3 li {
	width: 100%;
	border-radius: 5px;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.wt_p3 {
	padding: 10px;
	height: 25px;
	line-height: 25px;
	background-color: #FFFFFF;
	font-size: 13px;
	color: #313131;
}

.wt_p4 {
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #0f7e53, #103c6e);
}

.wt_ul1 {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	z-index: 999;
	bottom: 0;
	left: 0;
	border-top: 1px solid #e4e4e4;
}

.wt_ul1 li {
	position: relative;
}

.wt_li1_a {
	float: left;
	width: 33%;
	height: 60px;
	text-align: center;
}

.wt_li1_b {
	float: left;
	width: 34%;
	height: 60px;
	text-align: center;
}

.wt_li1_c {
	float: right;
	width: 33%;
	height: 60px;
	text-align: center;
}

.wt_p1 {
	padding-top: 10px;
	height: 25px;
	line-height: 25px;
}

.wt_p1 img {
	height: 20px;
}

.wt_p2 {
	font-size: 13px;
	color: #000000;
}

.wt_cor1 span {
	background: linear-gradient(to right top, #46bcc9, #94e07d);
	-webkit-background-clip: text;
	color: transparent;
}

.wt_img1 {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -10px;
	height: 6px;
}

.wt_ul2 {
	padding: 0 10px;
	width: 75px;
	height: 108px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -116px;
	background-color: #64caac;
	overflow-y: auto;
}

.wt_ul2 li {
	color: #a1ead5;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid #a1ead5;
	font-size: 13px;
}

.wt_li2 {
	color: #FFFFFF !important;
}

.wt_ul4 {
	padding: 10px;
	height: auto;
	overflow: hidden;
	padding-bottom: 0;
}

.wt_ul4 li {
	width: 100%;
	border-radius: 5px;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.wt_div1 {
	padding: 0 10px;
	height: auto;
	overflow: hidden;
	margin-bottom: 61px;
}

.wt_p5 {
	height: auto;
	overflow: hidden;
	line-height: 23px;
	font-size: 13px;
	color: #313131;
	margin-bottom: 10px;
}

.us_div1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 56px;
}

.news3_ul1 {
	padding: 0 10px;
	height: auto;
	overflow: hidden;
}

.news3_ul1 li {
	padding: 10px 0;
	min-height: 40px;
	position: relative;
	padding-left: 60px;
	overflow: hidden;
}

.news3_img1 {
	position: absolute;
	left: 0;
	top: 12px;
	width: 40px;
	height: 40px;
}

.news3_div1 {
	float: left;
	max-width: 75%;
	height: auto;
	position: relative;
}

.send {
	min-width: 40px;
	border: 1px solid #dddddd;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	background: #fff;
}

.send p {
	padding: 10px;
	height: auto;
	line-height: 20px;
}

.send:before {
	content: "";
	position: absolute;
	left: -5px;
	top: 15px;
	width: 8px;
	height: 8px;
	background: #fff;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg)
}

.news3_p2 {
	float: right;
	width: 15%;
	text-align: right;
	color: #131313;
	font-size: 13px;
}

.news3_ul2 {
	padding: 0 10px;
	height: auto;
	overflow: hidden;
}

.news3_ul2 li {
	padding: 10px 0;
	min-height: 40px;
	position: relative;
	padding-right: 60px;
	overflow: hidden;
}

.news3_img2 {
	position: absolute;
	right: 0;
	top: 12px;
	width: 40px;
	height: 40px;
}

.news3_div2 {
	float: right;
	max-width: 75%;
	height: auto;
	position: relative;
}

.send1 {
	min-width: 40px;
	border: 1px solid #afd68d;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	background: #9ce651;
}

.send1 p {
	padding: 10px;
	height: auto;
	line-height: 20px;
}

.send1:before {
	content: "";
	position: absolute;
	right: -5px;
	top: 15px;
	width: 8px;
	height: 8px;
	background: #9ce651;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg)
}

.wt_div2 {
	position: fixed;
	width: 100%;
	height: 55px;
	bottom: 0;
	left: 0;
	background-color: #f4f4f4;
	z-index: 999;
	border-top: 1px solid #e4e4e4;
}

.wt_div3 {
	padding: 10px;
	position: relative;
	height: 35px;
	padding-right: 60px;
}

.wt_input1 {
	width: 100%;
	height: 33px;
	border: 1px solid #dbdbdb;
	background-color: #FFFFFF;
	border-radius: 5px;
	text-indent: 10px;
}

.wt_p6 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 35px;
	line-height: 35px;
	color: #64caac;
	text-align: center;
}

.zy_ul1 {
	width: 95%;
	height: auto;
	padding-top: 10px;
	margin-bottom: 61px;
	overflow: hidden;
}

.zy_ul1 li {
	width: 45%;
	margin-left: 5%;
	float: left;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	padding-bottom: 5px;
}

.zy_p1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.zy_p1 img {
	width: 80%;
}

.zy_p2 {
	padding: 0 10px;
	height: 40px;
	overflow: hidden;
	line-height: 20px;
	color: #2a2a2a;
	font-size: 12px;
	margin-bottom: 20px;
	display: -webkit-box;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.zy_div1 {
	padding: 0 10px;
	height: 25px;
}

.zy_p3 {
	float: left;
	width: auto;
	line-height: 25px;
	font-size: 12px;
	color: #e90000;
}

.zy_p3 span {
	font-size: 16px;
}

.zy_p4 {
	float: right;
	line-height: 25px;
	font-size: 12px;
	color: #2a2a2a;
}

.zy_p5 {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.zy_p5 img {
	width: 100%;
	float: left;
}

.zy_p6 {
	background-color: #FFFFFF;
	padding: 10px;
	height: 25px;
	line-height: 25px;
	color: #e90000;
}

.zy_p6 span {
	font-size: 25px;
}

.zy_p7 {
	padding: 0 10px;
	height: auto;
	overflow: hidden;
	line-height: 20px;
	color: #2a2a2a;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.zy_p8 {
	background-color: #FFFFFF;
	padding: 10px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	color: #2A2A2A;
}

.zy_p8 img {
	float: right;
	width: 15px;
	margin-top: 5px;
}

.zy_div2 {
	padding: 0 10px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.zy_p9 {
	background-color: #FFFFFF;
	padding: 10px 0;
	height: 25px;
	line-height: 25px;
	color: #2A2A2A;
}

.zy_p9 img {
	float: right;
	width: 15px;
	margin-top: 5px;
}

.zy_div3 {
	padding: 0 10px;
	height: 30px;
	position: relative;
	padding-left: 40px;
}

.zy_img1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.zy_p10 {
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	color: #6a6a6a;
}

.zy_div4 {
	float: left;
	height: 30px;
	line-height: 30px;
	width: 60%;
	margin-left: 10px;
}

.commentScore {
	float: left;
	width: 70%;
	height: 15px;
	text-align: center;
	padding-top: 1px;
}

.dim {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/star.png) no-repeat;
	background-size: 100%;
}

.highlight {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/star1.png) no-repeat;
	background-size: 100%;
}

.zy_p11 {
	float: left;
	width: 20%;
	height: 30px;
	line-height: 30px;
	color: #fca001;
	font-size: 15px;
}

.zy_p11 span {
	margin-right: 3px;
}

.zy_p12 {
	padding: 10px 0;
	height: auto;
	overflow: hidden;
	line-height: 20px;
	color: #2a2a2a;
	font-size: 12px;
	padding-bottom: 20px;
}

.zy_div5 {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 120px;
}

.zy_p13 {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.zy_p13 img {
	float: left;
	width: 100%;
}

.zy_div6 {
	width: 100%;
	height: 55px;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 61px;
	left: 0;
	z-index: 999;
	text-align: right;
}

.zy_div6 input {
	width: 90px;
	height: 35px;
	margin-top: 10px;
	margin-right: 10px;
	border: none;
	background-color: #64caac;
	color: #FFFFFF;
}

.dz_ul1 {
	margin: 10px 10px 0 10px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid #dbdbdb;
	border-bottom: none;
}

.dz_ul1 li {
	padding: 10px;
	border-bottom: 1px solid #dbdbdb;
	height: 40px;
	position: relative;
	padding-left: 50px;
}

.dz_p1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.dz_p1 img {
	height: 13px;
	vertical-align: middle;
}

.dz_p2 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	color: #000000;
}

.dz_p3 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #757575;
	overflow: hidden;
}

.dz_div1 {
	margin: 0px 10px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid #dbdbdb;
	border-top: none;
	margin-bottom: 71px;
}

.dz_div2 {
	padding: 10px;
	height: 40px;
	position: relative;
	padding-left: 50px;
}

.dz_p4 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.dz_p4 img {
	height: 20px;
	vertical-align: middle;
}

.dz_p5 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	color: #000000;
}

.dz_ul2 {
	margin: 10px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid #dbdbdb;
	border-bottom: none;
}

.dz_ul2 li {
	padding: 10px;
	height: 20px;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
	padding-left: 80px;
}

.dz_p6 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	color: #000000;
}

.dz_div3 {
	width: 100%;
	height: 20px;
}

.dz_input1 {
	width: 100%;
	height: 20px;
	border: none;
	background-color: #FFFFFF;
}

.dz_input2 {
	width: 25%;
	height: 20px;
	border: none;
	background-color: #FFFFFF;
	float: left;
}

.dz_div4 {
	padding: 10px;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-bottom: 71px;
}

.dz_div4 input {
	border: none;
	background-color: #64caac;
	color: #FFFFFF;
	width: 100px;
	height: 35px;
	border-radius: 2px;
}

.yy_ul1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 71px;
}

.yy_ul1 li {
	padding: 10px;
	height: 40px;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
	padding-left: 60px;
}

.yy_p1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
}

.yy_p1 img {
	width: 40px;
	height: 40px;
}

.yy_p2 {
	float: left;
	width: 70%;
	height: 40px;
	line-height: 20px;
	color: #000000;
	font-size: 15px;
	display: -webkit-box;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.yy_p3 {
	float: right;
	width: 24%;
	height: 40px;
	line-height: 40px;
	text-align: right;
}

.yy_input1 {
	width: 100%;
	height: 28px;
	background-color: #cfcfcf;
	color: #FFFFFF;
	border: none;
}

.yy_input2 {
	width: 100%;
	height: 28px;
	background-color: #64caac;
	color: #FFFFFF;
	border: none;
}

.yy_p4 {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 5%;
}

.xx_div1 {
	margin: 10px 10px 61px 10px;
	height: auto;
	overflow: hidden;
}

.xx_p1 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 15px;
}

.xx_p1 span {
	color: #FFFFFF;
	font-size: 13px;
	padding: 5px 20px;
	background-color: #dadada;
	border-radius: 5px;
}

.xx_div2 {
	padding: 0 10px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

.xx_div3 {
	padding: 10px 0;
	height: 20px;
	position: relative;
	padding-left: 80px;
	border-bottom: 1px solid #dbdbdb;
}

.xx_p2 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	color: #848484;
}

.xx_p3 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #000000;
	overflow: hidden;
}

.xx_div4 {
	padding: 10px 0;
	height: 20px;
	position: relative;
	padding-left: 80px;
}

.xx_p4 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	color: #000000;
}

.xx_img1 {
	float: right;
	height: 15px;
	margin-top: 2.5px;
}

.xx_div5 {
	padding: 20px;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
}

.xx_div5 p {
	height: auto;
	overflow: hidden;
	line-height: 20px;
	color: #000000;
	margin-bottom: 5px;
}

.ewm_ul1 {
	margin: 10px 10px 71px 10px;
	height: auto;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	background-color: #FFFFFF;
}

.ewm_ul1 li {
	padding: 10px;
	height: 20px;
	border-bottom: 1px solid #dbdbdb;
}

.ewm_ul1 li span {
	color: #000000;
}

.ewm_ul1 li img {
	float: right;
	height: 15px;
	margin-top: 2.5px;
}

.ewm_div1 {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFFFFF;
	padding: 20px;
	width: 55%;
	height: 280px;
}

.ewm_div2 {
	position: relative;
	padding-left: 50px;
	height: 40px;
}

.ewm_img1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.ewm_p1 {
	width: 100%;
	height: 40px;
	line-height: 20px;
	font-size: 15px;
	overflow: hidden;
}

.ewm_p2 {
	padding: 30px 0;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.ewm_p2 img {
	width: 180px;
	height: 180px;
}

.xf_ul1 {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.xf_ul1 li {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border-bottom: 1px solid #dbdbdb;
}

.xf_div1 {
	padding: 10px;
	height: 100px;
	position: relative;
	padding-left: 120px;
	border-bottom: 1px solid #dbdbdb;
}

.xf_p1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 100px;
	height: 100px;
}

.xf_p1 img {
	width: 100%;
	height: 100%;
}

.xf_div2 {
	float: left;
	width: 65%;
	height: 100px;
}

.xf_p2 {
	width: 100%;
	height: 40px;
	line-height: 20px;
	display: -webkit-box;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-weight: 700;
}

.xf_p3 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #757575;
	font-size: 15px;
	margin-bottom: 10px;
}

.xf_p4 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #757575;
	font-size: 13px;
}

.xf_div3 {
	float: right;
	width: 34%;
	height: 100px;
}

.xf_p5 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	text-align: right;
	font-weight: 700;
	font-size: 15px;
}

.xf_p6 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	margin-bottom: 10px;
	color: #757575;
	font-size: 15px;
}

.xf_p7 {
	padding: 10px;
	height: 30px;
	text-align: right;
}

.xf_input1 {
	width: 90px;
	height: 30px;
	border: none;
	color: #FFFFFF;
	background-color: #64caac;
}

.xf_input2 {
	width: 90px;
	height: 30px;
	border: none;
	color: #FFFFFF;
	background-color: #a5a5a5;
}

.xf_div4 {
	padding: 10px;
	background-color: #FFFFFF;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 30px;
}

.xf_div5 {
	padding: 5px 10px;
	min-height: 20px;
	overflow: hidden;
	position: relative;
	padding-left: 80px;
	line-height: 20px;
}

.xf_div5 p {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 60px;
	height: 20px;
	line-height: 20px;
}

.xf_div6 {
	padding: 10px;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
}

.xf_div7 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

.xf_p8 {
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
}

.xf_div8 {
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
}

#starRating1 .photo {
	padding-top: 6px;
	height: 20px;
	line-height: 20px;
	float: left;
	width: 120px;
}

#starRating1 .photo span {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
}

#starRating1 .photo span:last-child {
	margin-right: 0px;
}

#starRating1 .photo span .nohigh {
	position: absolute;
	width: 20px;
	height: 18px;
	top: 0;
	left: 0;
	background: url("../img/star3.png") no-repeat;
	background-size: 20px 18px;
}

#starRating1 .photo span .high {
	position: absolute;
	width: 20px;
	height: 18px;
	top: 0;
	left: 0;
	background: url("../img/star4.png") no-repeat;
	background-size: 20px 18px;
}

#starRating1 .starNum {
	float: left;
	font-size: 14px;
	color: #000000;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
}

.xf_div9 {
	padding: 10px;
	border: 1px solid #dbdbdb;
	height: 120px;
}

.xf_div9 textarea {
	border: none;
	background-color: #FFFFFF;
	resize: none;
	height: 120px;
	line-height: 20px;
	width: 100%;
}

.xf_div10 {
	padding: 15px;
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
}

.xf_div10 input {
	border: none;
	height: 40px;
	background-color: #64caac;
	color: #FFFFFF;
	width: 100%;
}

.zl_ul1 {
	margin: 10px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
}

.zl_ul1 li {
	padding: 10px;
	height: 20px;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
	padding-left: 125px;
}

.zl_p1 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 115px;
	height: 20px;
	line-height: 20px;
	color: #000000;
	font-size: 15px;
}

.zl_div1 {
	width: 100%;
	height: 20px;
	text-align: right;
}

.zl_div1 span {
	color: #afafaf;
}

.zl_input1 {
	text-align: right;
	width: 100%;
	height: 20px;
	border: none;
	background-color: #FFFFFF;
}

.zl_ul2 {
	margin: 10px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
}

.zl_ul2 li {
	padding: 10px;
	height: 20px;
	border-bottom: 1px solid #dbdbdb;
	position: relative;
	padding-left: 80px;
}

.zl_p2 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	color: #000000;
}

.zl_div2 {
	width: 100%;
	height: 20px;
}

.zl_input2 {
	width: 100%;
	height: 20px;
	border: none;
	background-color: #FFFFFF;
}

.zl_div3 {
	margin-top: 10px;
	padding: 10px;
	position: relative;
	padding-left: 40px;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	height: 25px;
}

.zl_p3 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 20px;
	height: 25px;
	line-height: 25px;
}

.zl_p3 img {
	height: 23px;
	vertical-align: middle;
}

.zl_p4 {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	color: #000000;
}

.zl_div4 {
	padding: 10px;
	position: relative;
	padding-left: 40px;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	height: 25px;
}

.zl_p5 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 20px;
	height: 25px;
	line-height: 25px;
}

.zl_p5 img {
	height: 19px;
	vertical-align: middle;
}

.zl_p6 {
	float: left;
	width: 70%;
	height: 25px;
	border-right: 1px solid #dbdbdb;
}

.zl_input3 {
	width: 100%;
	height: 25px;
	border: none;
	background-color: #FFFFFF;
}

.zl_p7 {
	float: right;
	width: 28%;
	height: 25px;
}

.zl_input4 {
	width: 100%;
	height: 25px;
	border: none;
	background-color: #FFFFFF;
	color: #64caac;
}

.zl_img1 {
	width: 15px;
	margin-top: 2.5px;
}

.zp_div1 {
	padding: 30px 15%;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
	text-align: center;
}

.zp_p1 {
	width: 100%;
	height: 150px;
	line-height: 150px;
}

.zp_img1 {
	width: 30%;
	vertical-align: middle;
}

.mnq_div1 {
	margin: 10px 0;
	padding: 10px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	height: 95px;
	background-color: #FFFFFF;
}

.mnq_div2 {
	float: left;
	width: 33%;
	height: auto;
}

.mnq_p1 {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 13px;
}

.mnq_div3 {
	margin: auto;
	width: 80%;
	height: 40px;
	position: relative;
}

.mnq_div4 {
	position: relative;
	padding-right: 30px;
	height: 40px;
	border: 1px solid #DBDBDB;
}

.mnq_p2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #e3e3e3;
}

.mnq_input1 {
	width: 100%;
	height: 40px;
	border: none;
	background-color: transparent;
	text-align: center;
}

.mnq_p2 img {
	height: 15px;
	vertical-align: middle;
}

.mnq_ul1 {
	position: absolute;
	top: 42px;
	left: 0;
	width: 97%;
	height: 120px;
	background-color: #FFFFFF;
	z-index: 99;
	display: none;
	overflow-y: auto;
	border: 1px solid #DBDBDB;
	border-top: none;
	border-bottom: none;
}

.mnq_ul1 li {
	padding-right: 30px;
	height: 29px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #DBDBDB;
}

.mnq_div5 {
	float: left;
	width: 34%;
	height: auto;
}

.mnq_div6 {
	padding: 20px 10px;
	margin: 10px 0;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}

.mnq_ul2 {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.mnq_ul2 li {
	float: left;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.mnq_p3 {
	background-color: #e6e6e6;
	border-radius: 100%;
	margin: auto;
	border: 2px solid #FFFFFF;
}

.mnq_p3 img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.mnq_p4 {
	width: 1px;
	height: 15px;
	background-color: #e6e6e6;
	margin: 5px auto;
}

.mnq_p5 {
	width: 1px;
	height: 8px;
	background-color: #e6e6e6;
	margin: auto;
}

.mnq_p6 {
	width: 50%;
	height: 1px;
	background-color: #e6e6e6;
	margin: auto;
}

.mnq_div7 {
	padding: 40px 10px;
	height: auto;
	overflow: hidden;
	margin-bottom: 80px;
}

.mnq_div8 {
	float: left;
	height: auto;
	overflow: hidden;
	width: 60%;
}

.mnq_div8 p {
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	font-size: 18px;
	color: #3e3e3e;
}

.mnq_div9 {
	float: right;
	height: auto;
	overflow: hidden;
	width: 39%;
}

.mnq_div9 p {
	height: 90px;
	line-height: 90px;
	font-size: 30px;
	color: #3e3e3e;
}

.mnq_div9 p span {
	font-size: 85px;
	font-weight: 700;
}

.me_div1 {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	background-color: #FFFFFF;
	padding-bottom: 10px;
}

.me_img1 {
	width: 100%;
	float: left;
}

.me_p1 {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9;
}

.me_p1 img {
	width: 18px;
}

.me_div2 {
	width: 100%;
	position: absolute;
	top: 15px;
	left: 0;
	height: auto;
	overflow: hidden;
}

.me_div3 {
	width: 45px;
	height: 45px;
	padding: 3px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	margin: auto;
	margin-bottom: 3px;
}

.me_div3 img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.me_div4 {
	width: 100%;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 13px;
	color: #FFFFFF;
}

.me_div4 p {
	display: inline-block;
}

.me_p2 {
	height: 15px;
	line-height: 15px;
}

.me_p3 {
	padding: 0 2px;
	background-color: #FFFFFF;
	text-align: center;
}

.me_p3 img {
	height: 10px;
	vertical-align: middle;
	margin-top: -2px;
}

.me_p4 {
	background-color: #FFFFFF;
	padding: 10px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #dbdbdb;
	font-size: 15px;
}

.me_p4 img {
	float: left;
	height: 18px;
	margin-top: 4px;
	margin-right: 5px;
}

.me_ul1 {
	padding: 20px 0;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

.me_ul1 li {
	width: 50%;
	float: left;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.me_ul1 li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.me_p5 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
}

.me_img2 {
	height: 23px;
	vertical-align: middle;
}

.me_img3 {
	height: 28px;
	margin-top: -3px;
	vertical-align: middle;
}

.me_p6 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #797979;
}

.me_p7 {
	background-color: #FFFFFF;
	padding: 10px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #dbdbdb;
	font-size: 15px;
	border-top: 1px solid #dbdbdb;
}

.me_p7 img {
	float: left;
	height: 18px;
	margin-top: 4px;
	margin-right: 5px;
}

.me_ul2 {
	padding: 20px 0;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

.me_ul2 li {
	width: 25%;
	float: left;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.me_ul2 li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.me_img4 {
	height: 25px;
	margin-top: -3px;
	vertical-align: middle;
}

.me_ul3 {
	padding: 20px 0;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

.me_ul3 li {
	width: 33.3%;
	float: left;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.me_ul3 li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.me_img5 {
	height: 21px;
	margin-top: -3px;
	vertical-align: middle;
}

.me_div5 {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 61px;
}

.me_ul4 {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.me_ul4 li {
	padding: 10px;
	position: relative;
	height: 25px;
	line-height: 25px;
	padding-left: 33px;
	font-size: 15px;
	border-bottom: 1px solid #dbdbdb;
}

.me_ul4 li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #000000;
}

.me_p8 {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 20px;
	height: 25px;
	line-height: 25px;
}

.me_img7 {
	height: 18px;
	vertical-align: middle;
	margin-top: -3px;
}

.me_img6 {
	float: right;
	height: 17px;
	margin-top: 4px;
}

.me_img8 {
	height: 20px;
	vertical-align: middle;
	margin-top: -3px;
}

.xcy_div1 {
	padding: 10px 10px 10px 0;
	background-color: #FFFFFF;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin: 10px 0;
}

.xcy_div2 {
	float: left;
	position: relative;
	width: 20%;
	height: 100%;
	min-height: 100px;
}

.xcy_div2 div {
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #64caac;
}

.xcy_div2 p {
	text-align: center;
	width: 100%;
	font-size: 17px;
	display: inline-block;
	line-height: 100%;
}

.xcy_div3 {
	float: right;
	width: 80%;
	height: auto;
	overflow: hidden;
}

.xcy_ul1 {
	width: 1000px;
	height: 64px;
	overflow-x: auto;
	overflow-y: hidden;
}

.xcy_ul1 li {
	float: left;
	width: 45px;
	height: auto;
	overflow: hidden;
	margin-left: 10px;
}

.xcy_p1 {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 2px solid #FFFFFF;
	margin: auto;
}

.xcy_p1 img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.xcy_p2 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

.xcy_cor1 {
	border: 2px solid #64caac !important;
}

.xcy_div4{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 16px;
	color: #7a7a7a;
}
.xcy_div5{
	display: inline-block;
	position: relative;
	width: 20px;
}
.regular-checkbox {
	display: none;
}
.regular-checkbox+label {
	position: absolute;
	top: -13px;
	left: 0;
	display: inline-block;	
	padding: 7px;	
	border: 1px solid #7a7a7a;
}
.regular-checkbox:checked+label:after {
	content: '\2714';
	position: absolute;
	font-size: 12px;
	top: -9px;
	left: 2px;
	color: #64caac;
	font-weight: bold;
}
.xcy_ul2{
	padding: 10px 0;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
}
.xcy_ul2 li{
	width: 50%;
	float: left;
	height: 70px;
	overflow: hidden;
	position: relative;
}
.xcy_div6{
	padding-left: 70px;
	height: 70px;
}
.xcy_p3{
	position: absolute;
	left: 0;
	top: 0;
	height: 70px;
	line-height: 70px;
	width: 70px;
	font-size: 60px;
	font-weight: 700;
	color: #64caac;
	text-align: center;
}
.xcy_p4{
	width: 100%;
	float: left;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	color: #797979;
	margin-top: 15px;
	overflow: hidden;
}
.xcy_p5{
	width: 100%;
	float: left;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	color: #797979;
	overflow: hidden;
}
.xcy_p6{
	width: 1px;
	height: 100%;
	background-color: #64caac;
	position: absolute;
	right: 0;
	top: 0;
}
.xcy_div7{
	padding: 20px 10px;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
	position: relative;
}
.xcy_p7{
	width: 100%;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #484848;
}
.xcy_p8{
	position: absolute;
	left: 15px;
	top: 20px;
	width: 50px;
	height: 28px;
	text-align: center;
	border-radius: 5px;
	line-height: 28px;
	background-color: #64caac;
	color: #FFFFFF;
}
.xcy_div8{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;
}
.xcy_div9{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 65%;
	height: 230px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.xcy_div10{
	padding-left: 50px;
	height: 40px;
	margin-bottom: 10px;
	position: relative;
}
.xcy_p9{
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
}
.xcy_p9 img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.xcy_p10{
	float: left;
	width: 80%;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
}
.xcy_p11{
	float: right;
	width: 13%;
	height: 40px;
	line-height: 40px;
}
.xcy_p11 img{
	height: 18px;
	vertical-align: middle;
	margin-top: -3px;
}
.xcy_ul3{
	padding: 0 10px;
	height: auto;
	overflow: hidden;
}
.xcy_ul3 li{
	padding: 5px;
	height: auto;
	overflow: hidden;
	margin-bottom: 5px;
	font-size: 13px;
}
.xcy_p12{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.xcy_p12 img{
	width: 150px;
}
.xcy_div11{
	padding: 10px;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.xcy_input1{
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	color: #FFFFFF;
	background-color: #888888;
	border: none;
}
.xcy_input2{
	float: right;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	color: #FFFFFF;
	background-color: #64caac;
	border: none;
}
.zt_div1{
	margin: 10px;
	background-color: #FFFFFF;
	height: 25px;
	padding: 10px;
}
.zt_div2{
	position: relative;
	padding-right: 30px;
	height: 25px;
}
.zt_p1{
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 25px;
	line-height: 25px;
	text-align: right;
}
.zt_p1 img{
	height: 18px;
	vertical-align: middle;
	margin-top: -3px;
}
.zt_div3{
	position: relative;
	padding-right: 30px;
	height: 25px;
}
.zt_p2{
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 25px;
	line-height: 25px;
	text-align: right;
}
.zt_p2 img{
	height: 16px;
	vertical-align: middle;
	margin-top: -3px;
}
.zt_input1{
	width: 100%;
	height: 25px;
	border: none;
}
.zt_div4{
	background-color: #FFFFFF;
	height: 50px;
	padding: 10px 15px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding-left: 80px;
	position: relative;
}
.zt_p3{
	position: absolute;
	left: 15px;
	top: 10px;
	width: 50px;
	height: 50px;
}
.zt_p3 img{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.zt_p4{
	width: 100%;
	height: 20px;
	line-height: 20px;
	float: left;
	margin-top: 5px;
	font-size: 15px;
}
.zt_p5{
	width: 100%;
	height: 20px;
	line-height: 20px;
	float: left;
	font-size: 13px;
	color: #797979;
}
.zt_div5{
	position: relative;
	height: 30px;
	padding: 10px 15px;
	border-bottom: 1px solid #dbdbdb;
	padding-left: 65px;
	font-size: 13px;
	color: #797979;
}
.zt_p6{
	float: left;
	width: 34%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.zt_p7{
	float: left;
	width: 33%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.zt_ul1{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 71px;
}
.zt_ul1 li{
	position: relative;
	padding: 10px 15px;
	border-bottom: 1px solid #dbdbdb;
	padding-left: 65px;
	height: 40px;
	color: #797979;
}
.zt_p8{
	position: absolute;
	left: 15px;
	top: 10px;
	width: 40px;
	height: 40px;
}
.zt_p8 img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.zt_p9{
	float: left;
	width: 34%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.zt_p10{
	float: left;
	width: 33%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.zt_div6{
	padding: 10px 15px;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-top: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	height: 70px;
}
.zt_div6::-webkit-scrollbar {
	display:none;
}
.zt_div7{
	min-width: 600px;
	height: 70px;
}
.zt_div8{
	float: left;
	height: 70px;
	position: relative;
	padding-right: 20px;
	margin-right: 10px;
}
.zt_p12{
	width: 50px;
	height: 50px;
}
.zt_img2{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.zt_p13{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #797979;
}
.zt_p14{
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 70px;
	line-height: 70px;
	text-align: right;
}
.zt_p14 img{
	width: 12px;
	vertical-align: middle;
	margin-top: -20px;
}
.zt_p15{
	width: 40px;
	height: 40px;
	margin-top: 5px;
}
.zt_p16{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.gm_div1{
	padding: 30px 20px 0 20px;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
	font-size: 16px;
	color: #5d5d5d;
	font-weight: 700;
}
.mx_div1{
 	padding: 10px;
 	height: auto;
 	overflow: hidden;
 	margin: 10px 0;
 	background-color: #FFFFFF;
 	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
 }
.mx_div2{
	width: 50%;
	float: left;
	height: 35px;
}
.mx_div3{
	padding-left: 50px;
	height: 35px;
	position: relative;
}
.mx_p1{
	position: absolute;
	left: 0;
	top: 0;
	height: 35px;
	line-height: 35px;
	width: 40px;
	font-size: 18px;
	font-weight: 700;
	color: #767676;
	text-align: center;
}
.mx_div4{
	width: 90%;
	height: 33px;
	border: 1px solid #dbdbdb;
}
.mx_input{
	width: 80%;
	padding-right: 20%;
	height: 33px;
	border: none;
	text-align: center;
	
	background: url(../img/mx03.jpg) no-repeat;
	background-position-x: 100%;
	background-size: 20px 33px;
}
.mx_div5{
	width: 100%;
	height: auto;
	padding: 10px 0;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
}
.mx_ul1{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.mx_ul1 li{
	float: left;
	width: 20%;
	height: 50px;
	text-align: center;
	position: relative;
}
.mx_p2{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 15px;
	color: #000000;
	margin-top: 7px;
}
.mx_p3{
	width: 100%;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	color: #000000;
}
.mx_p4{
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #dedede;
}
.mx_li1 p{
	color: #64caac !important;
}
.mx_ul2{
	width: 100%;
	margin-bottom: 71px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
}
.mx_ul2 li{
	padding: 10px;
	height: 40px;
	border-bottom: 1px solid #dddddd;
}
.mx_div6{
	float: left;
	width: 80%;
	height: 40px;
}
.mx_p5{
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #000000;
	font-size: 15px;
}
.mx_p6{
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #a8a8a8;
	font-size: 12px;
}
.mx_p7{
	width: 20%;
	float: right;
	height: 40px;
	line-height: 40px;
	text-align: right;
}
.mx_cor1{
	color: #64caac;
}
.mx_cor2{
	color: #c80404;
}
.zy1_div1{
	padding: 10px 15px;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
	padding-bottom: 0;
}
.zy1_div2{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.zy1_div3{
	float: left;
	width: 27%;
	height: 33px;
	border: 1px solid #DDDDDD;
	margin-right: 2%;
}
.zy1_sel1{
	width: 100%;
	padding-right: 20%;
	height: 33px;
	border: none;
	text-indent: 15px;
	
	background: url(../img/mx03.jpg) no-repeat;
	background-position-x: 100%;
	background-size: 20px 33px;
}

.zy1_div4{
	float: left;
	width: 30%;
	height: 33px;
	border: 1px solid #DDDDDD;
	margin-right: 2%;
}
.zy1_input1{
	width: 100%;
	height: 33px;
	border: none;
	text-align: center;
}
.zy1_p1{
	float: left;
	width: 6%;
	height: 33px;
	line-height: 33px;
	margin-right: 2%;
	text-align: center;
}
.zy1_p1 img{
	height: 15px;
	vertical-align: middle;
}
.zy1_div5{
	float: left;
	width: 21%;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #DDDDDD;
	margin-right: 2%;
}

.zy1_div6{
	float: left;
	width: 33%;
	height: 33px;
	border: 1px solid #DDDDDD;
}
.zy1_div7{
	padding: 10px;
	min-height: 40px;
	overflow: hidden;
	position: relative;
	padding-left: 45px;
}
.zy1_p2{
	position: absolute;
	left: 0;
	top: 10px;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: right;
}
.zy1_p3{
	width: 100%;
	height: auto;
	overflow: hidden;
	line-height: 20px;
	font-size: 13px;
}
.zy1_div8{
	padding: 10px;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
	text-align: center;
}
.zy1_div8 input{
	width: 60%;
	height: 40px;
	border: none;
	color: #FFFFFF;
	background-color: #64caac;
	border-radius: 3px;
}
.zy1_div9{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	display: none;
}
.zy1_div10{
	position: absolute;
	margin: auto;
	width: 70%;
	padding: 20px 15px;
	background-color: #FFFFFF;
	border-radius: 3px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 300px;
	/*display: none;*/
}
.zy1_p4{
	width: 100%;
	height: auto;
	overflow: hidden;
	line-height: 20px;
	font-size: 15px;
	font-weight: 700;
	color: #5e5e5e;
	margin-bottom: 20px;
}
.zy1_p5{
	width: 100%;
	height: auto;
	overflow: hidden;
	line-height: 20px;
	font-size: 15px;
	font-weight: 700;
	color: #5e5e5e;
	margin-bottom: 30px;
}
.zy1_p5 span{
	color: #ff0000;
}
.zy1_p6{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 15px;
	text-align: center;
}
.zy1_p6 input{
	width: 60%;
	height: 40px;
	border: none;
	color: #FFFFFF;
	border-radius: 3px;
	background-color: #64caac;
	font-size: 16px;
}
.zy1_div11{
	position: absolute;
	margin: auto;
	width: 70%;
	padding: 20px 15px;
	background-color: #FFFFFF;
	border-radius: 3px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 300px;
	display: none;
}
.zy1_p7{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	padding: 20px 0;
}
.zy1_p7 img{
	height: 50px;
}

.jf_ul1{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	z-index: 999;
	bottom: 0;
	left: 0;
	border-top: 1px solid #e4e4e4;
}

.jf_ul1 li {
	position: relative;
	float: left;
	width: 25%;
	height: 60px;
	text-align: center;
}
.tq_div1{
	padding: 10px 20px;
	height: 40px;
	background-color: #FFFFFF;
	margin: 10px 0;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding-left: 70px;
	position: relative;
}
.tq_p1{
	position: absolute;
	left: 20px;
	top: 10px;
	width: 40px;
	height: 40px;
}
.tq_p1 img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.tq_p2{
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.tq_p3{
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.tq_div2{
	padding: 10px 20px;
	height: 35px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.tq_div3{
	float: left;
	width: 40%;
	height: 35px;
	border: 1px solid #DDDDDD;
}
.tq_p4{
	float: left;
	width: 18%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: 700;
	color: #767676;
}
.tq_input1{
	float: left;
	width: 69%;
	height: 35px;
	border: none;
	text-align: center;
}
.tq_p5{
	float: right;
	width: 30%;
	height: 35px;
	line-height: 35px;
	background-color: #d6d6d6;
	color: #010101;
	text-align: center;
}
.tq_div4{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	padding: 10px 0;
}
.tq_div4 input{
	width: 70%;
	height: 40px;
	border: none;
	color: #FFFFFF;
	border-radius: 3px;
	background-color: #64caac;
}
.tq_div5{
	position: absolute;
	margin: auto;
	width: 70%;
	padding: 20px 15px;
	background-color: #FFFFFF;
	border-radius: 3px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200px;
	/*display: none;*/
}
.tq_div6{
	position: absolute;
	margin: auto;
	width: 70%;
	padding: 20px 15px;
	background-color: #FFFFFF;
	border-radius: 3px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 180px;
	display: none;
}
.mb_ul1{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
	background-color: #FFFFFF;
}
.mb_ul1 li{
	padding: 10px;
	height: 50px;
	position: relative;
	padding-left: 70px;
	border-bottom: 1px solid #e8e8e8;
}
.mb_p1{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
}
.mb_p1 img{
	width: 100%;
	height: 100%;
}
.mb_p2{
	width: 70%;
	float: left;
	padding-top: 7px;
	height: 40px;
	line-height: 20px;
	font-size: 15px;
	display: -webkit-box;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.mb_p3{
	float: right;
	width: 25%;
	height: 50px;
	line-height: 50px;
	text-align: right;
}
.mb_p3 img{
	width: 9px;
	vertical-align: middle;
}
.mbxq_div1{
	padding: 10px;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
	background-color: #FFFFFF;
}
.mbxq_div1 img{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.bz_div1{
	padding: 20px;
	height: auto;
	overflow: hidden;
	margin-bottom: 71px;
}
.bz_div1 p{
	height: auto;
	overflow: hidden;
	font-size: 15px;
	line-height: 20px;
}
.sc_div1{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 71px;
	padding-top: 100px;
}
.sc_div2{
	padding: 10px;
	border-top: 1px solid #eef4f0;
	height: auto;
	overflow: hidden;
}
.upload-ul {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.upload-ul li {
	position: relative;
	float: left;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0 10px 10px 0;
	padding: 0;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	overflow: hidden;
}

.upload-pick {
	background: url(../img/upload-bj.png) no-repeat 0 0;
	background-size: 80px 160px;
}

.upload-pick:hover {
	background: url(../img/upload-bj.png) no-repeat 0 -80px;
	background-size: 80px 160px;
}

.webuploader-pick {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
}

.webuploader-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.webuploader-container label {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.webuploader-element-invisible {
	opacity: 0;
	width: 100%;
	height: 100%;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.viewThumb {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: .3rem;
}

.viewThumb img {
	width: 100%;
	height: 100%
}

.diyBar {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/bgblack.png);
	z-index: 3;
}

.diyProgress {
	position: absolute;
	left: 0;
	top: 33px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background: rgba(10, 168, 241, .7);
	z-index: 3;
}

.diyControl {
	position: absolute;
	display: none;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	background: url(../img/bgblack.png);
	z-index: 3;
}

.viewThumb:hover .diyControl {
	display: block;
}

.diyControl span {
	display: inline-block;
	padding: 6.5px 6px;
	width: 12px;
	height: 11px;
}

.diyControl span i {
	display: block;
	width: 12px;
	height: 11px;
	opacity: .7;
}

.diyControl span i:hover {
	opacity: 1;
	cursor: pointer;
}

.diyLeft {
	margin-left: 3px;
}

.diyLeft {
	margin-right: 3px;
}

.diyLeft i {
	margin-left: 3px;
	background: url(../img/upload-icon1.png) no-repeat 0 0;
}

.diyCancel i {
	background: url(../img/upload-icon1.png) no-repeat 0 -11px;
}

.diyRight i {
	margin-right: 3px;
	background: url(../img/upload-icon1.png) no-repeat 0 -22px;
}

.goods-edit .upload-tip {
	font: 12px/23px "Microsoft YaHei";
	color: #a3a3a3;
	vertical-align: top;
}
.zc_ul1{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 10px;
	border-top: 1px solid #dbdbdb;
	background-color: #FFFFFF;
}
.zc_ul1 li{
	padding: 10px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #dbdbdb;
	font-size: 15px;
	color: #afafaf;
}
.zc_p1{
	float: right;
	width: 70%;
	height: 25px;
}
.zc_p1 input{
	width: 100%;
	height: 25px;
	border: none;
	text-align: right;
	font-size: 15px;
}
.zc_p2{
	float: right;
	width: 98px;
	height: 25px;
	border-left: 1px solid #dbdbdb;
	margin-left: 15px;
}
.zc_p2 input{
	width: 100%;
	height: 25px;
	border: none;
	background-color: #FFFFFF;
	color: #64caac;
	text-align: right;
	font-size: 15px;
}

.zc_p3{
	float: right;
	width: 40%;
	height: 25px;
}
.zc_p3 input{
	width: 100%;
	height: 25px;
	border: none;
	background-color: #FFFFFF;
	text-align: right;
	font-size: 15px;
}
.zc_div1{
	padding: 30px 15px;
	height: auto;
	overflow: hidden;
}
.zc_div1 input{
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: none;
	background-color: #64caac;
	color: #FFFFFF;
	font-size: 17px;
}
.dl_p1{
	width: 100%;
	height: 25px;
}
.dl_p1 input{
	width: 100%;
	height: 25px;
	border: none;
	font-size: 15px;
}

.wrap1 {
	overflow: hidden;
	height: 64px;
}

.cont1 {
	height: 64px;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
}

.state1 {
	left: 0px;
	top: 0px;
	position: absolute;
	height: 64px;
	background-color: #ffffff;
	overflow-x: auto;
	white-space: nowrap;
	display: flex;
}

.state1 li {
	display: inline-block;		
    width: 45px;
    height: auto;
    overflow: hidden;
    margin-left: 10px;	
}


/*.state .active {
    font-weight: bold;
    color: #ff6c00; 
    border-color: rgb(84, 46, 69);          
}*/

.state1 {
	overflow-x: auto;
	white-space: nowrap;
}

::-webkit-scrollbar {
	display: none;
}
.xcy_div12{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;
}
.xcy_div13{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 65%;
	height: 210px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.xcy_p13{
	padding: 10px 15px;
	height: 25px;
	line-height: 25px;
	color: #FF0000;
}
.xcy_div14{
	padding: 10px;
	height: 30px;
}
.xcy_p14{
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	background-color: #888888;
	color: #FFFFFF;
}
.xcy_p15{
	float: right;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	background-color: #64caac;
	color: #FFFFFF;
}
.xcy_input3{
	border: none;
	height: 40px;
	width: 100%;
}
.xcy_div15{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;
}
.xcy_div16{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 65%;
	height: 120px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.xcy_p16{
	padding: 20px 0;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 15px;
}
.xcy_p17{
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	background-color: #888888;
	color: #FFFFFF;
}
.xcy_p18{
	float: right;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	background-color: #64caac;
	color: #FFFFFF;
}
.xcy_div17{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;
}
.xcy_div18{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 65%;
	height: 60px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.xcy_p19{
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 15px;
	color: #FF0000;
}
.xcy_cor2{
	background: linear-gradient(to right top, #46bcc9, #94e07d);
    -webkit-background-clip: text;
    color: transparent;
}



















