<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>管理员列表</title>
<style type="text/css">
tr td {
	border: 1px solid black;
	text-align: center;
}
</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<table class="table table-border table-bordered table-bg">
		<thead>
			<div class="container">
				<table  width="60%" style="border:1px solid black" >
					<!--<form class="form-horizontal" role="form" action="{:url('out')}" method="post" name="myfrom" >-->
						<!--<div class="formControls col-xs-8 col-sm-9">-->
							<!--<input type="text" name="username" id="username" placeholder="" value="" class="input-text">-->
						<!--</div>-->
						<!--<div class="col-md-offset-3 col-md-9">-->
							<!--<button class="btn btn-info" type="button" onclick="myfrom.submit()">-->
								<!--<i class="ace-icon fa fa-check bigger-110"></i>-->
								<!--提交-->
							<!--</button>-->
						<!--</div>-->

					<!--</form>-->
					<form action="{:url('out')}" method="post" name="myform">
								<select id="city" class="select" name="realname" style="height: 30px;width: 130px;margin-right: 40px">
									{foreach name="de" id="vo"}
								<option name="{$vo.realname}">{$vo.realname}</option>`
								{/foreach}
								
									</select>
						<!-- <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户订单</button> -->
						<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户导出用户订单</button>
					</form>

					<form action="{:url('yong')}" method="post" name="myform">
								<select id="city" class="select" name="realname" style="height: 30px;width: 130px;margin-right: 40px;margin-left: 40px">

								
								<option name="">{$desc[0]['realname']}</option>
								{foreach name="de" id="vo"}
								<option name="{$vo.realname}">{$vo.realname}</option>`
								{/foreach}
								<!-- <option name="{$vo.realname}">{$de.realname}</option> -->
									</select>
						<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户订单</button>
						<!-- <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户导出用户订单</button> -->
					</form>

					<!--<form action="{:url('daocu')}" method="post" name="myform">-->
						<!--&lt;!&ndash;<input type="text" class="input-text" style="width:250px" placeholder="商品名称" id="" name="username">&ndash;&gt;-->
						<!--<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont"></i> 导出所有订单</button>-->
					<!--</form>-->
					<thead>
					<tr>
						<td width="50">店铺名称</td>
						<td width="100">名称</td>
						<td width="50">件数</td>
						<td width="100">重量</td>
						<td width="100">单位</td>
						<td width="100">实际重量(公斤)</td>
						<td width="100">价格</td>
						<td width="50">时间</td>
						<td width="50">操作</td>
					</tr>
					</thead>
					{foreach name="desc" id="v"}
					<tbody>
			<form action="{:url('updates')}" method="post" name="myform">
					<tr>
						<input type="hidden" name="gid" value="{$v.gid}">
						<td>{$v.realname}</td>
						<td>{$v.username}</td>
						<td>{$v.number}</td>
						<td>{$v.zongjia}</td>
						<td>{$v.zhong}</td>
						<td><input type="text" name="num" value="{$v.num}" style="background:transparent;width: 40px;border-radius: 5px;outline: none;" ></td>
						
<td>
{if $v.prices==null}
							<input type="text" name="prices" value="{$v.jiage}" style="background:transparent;width: 40px;border-radius: 5px;outline: none;" >
								{else}
		<input type="text" name="prices" value="{$v.prices}" style="background:transparent;width: 40px;border-radius: 5px;outline: none;" >	
		{/if}		

</td>
						<td>{$v.time}</td>
						<td>


					<!-- <a href='{:url("addse","id=$v[gid]")}'>
                                        <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120">修改</i>
                                            </span>
			</a> -->
					

			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont"></i> 修改</button>

			</td>
					</tr>
</form>
					</tbody>
					{/foreach}
				</table>

			</div>

		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!', {icon: 6,time:1000});
	});
}
</script>
</body>
</html>